/*font-family: 

Poppins, sans serif
RocknRoll, cursive

colors:

Primary:

Blood red: hsl(355, 66, 38)
Black: hsl(150, 100, 0)
Grunge Yellow: hsl(49, 16, 53) 

Neutral:

Light gray: hsl(22, 6, 76)
Medium gray: hsl(17, 4, 65)
Deep Gray: hsl(353, 6, 28)

*/




/* display under 400 px wide */

:root {
    --ff-sans: 'Poppins', sans-serif;
    --fw-light: 200;
    --fw-normal: 400;
    --fw-bold: 600;

    --ff-rock: "Instrument Serif", serif;
    --ff-rocktwo: "RocknRoll One", sans-serif;
    --ff-rockthree: "Oswald", sans-serif;
    --ff-rockfour: "Herold"
    --fs-400: 0.927rem;
    --fs-500: 1.25rem;
    --fs-600: 1.625rem;
    --fs-900: 2.5rem;
    --fs-1000: 4rem;
    --fs-1200: 6rem;

    --clr-neutral: hsl(0, 0%, 0%);
    --clr-neutralMG: hsl(17, 4%, 65%);
    --clr-neutralDG: hsl(353, 6%, 28%);
    --clr-primaryBR: hsl(355, 66%, 38%);
    --clr-primaryBlack: hsl(150, 100%, 0%);
    --clr-primaryGY: hsl(49, 16%, 53%);


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-neutral);
    margin: 0;
    line-height: inherit;
    font-family: var(--ff-sans);
    
}	

/* HEADER */

.header-flex-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header-flex-child {
    flex-grow: 1;
	margin: ;
      justify-content: center;
      align-items: center;
    flex-direction: row; /* keep this row for all resolutions */
    display: flex;
    padding-left: ;

}

.header-flex-child:first-child {
	
	justify-content: center;
	align-items: center;
      
    color: white;
    margin-right: px;
      

    
}

.brand-text {
        font-family: var(--ff-rock);
      text-align: center;
      font-size: 3.7rem;
      width: max-content;
      background-image: linear-gradient(red, black);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
      margin-top: ;
}

.headline-img {
      width: max-content;
      margin-top: 27px;
}


.header-flex-child:nth-child(2) {
      display: flex;
      margin: 10px;
      margin-top: -10px;
      border-radius: 5px;
      padding: 10px 10px;
      background-color: whitesmoke;
       background-image: url('./img/srchicon.png');
      background-size: 40px;
      background-repeat: no-repeat;
      background-position: left 5px center;


}





.search-input {
	cursor: pointer;
     width: 100%;
      max-width: 1200px;
      height: 30px;
      font-size: 15px;
      /*margin-top: 23px;*/
      border-radius: 3px;
      margin-left: 40px;
      background-image: url('./img/srchinputbg.png');
      

}

.search-input:focus {
	cursor: pointer;
	outline: none;
	box-shadow: 2px 2px 3px hsl(0, 0%, 0%);


}


.header-flex-child:nth-child(3) {
      flex-direction: column;
      border-radius: 3px;
      width: 100%;
      display: flex;
      justify-content: center;
	align-items: center;
	
      

}

#submit {
	margin-left: 90px;
	
	border: 2px solid white;
    background-color: #A8A9AD;
	width: 50px;
    padding: 14px 75px;
    margin-left: 85px;
	/*padding: 17px 70px;*/
    font-family: var(--ff-rockthree);
    font-weight: var(--fw-bold);
    font-size: 20px;
}

.header-flex-child:nth-child(4) {
      flex-direction: row;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 30px;

      
}

.header-flex-child:nth-child(4) a {
    margin-top: -117px;
    margin-left: 250px;
    width: 70px;
    object-fit: cover;

}

.header-flex-child:nth-child(4) img {
	display: flex;
	max-width: 100%;
	height: auto;
}




/* NAVIGATION */
.topNav {
	flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid red;
    margin-top: -22px;
    color: white;
}

.topNav a { 
	width: 100%;
	border: 3px solid whitesmoke;
	background: linear-gradient(1800deg, crimson, black, whitesmoke); 
    list-style: none;
    color: white;
    text-decoration: none;
    padding: 13px;
    display: block;
    font-family: var(--ff-rockthree);
    font-weight: var(--fw-bold);

} 

/* FOOTER */
.footer {


	display: flex;
	background: #3b3b3b;
	border: 2px solid magenta;
	width: 100%;
	height: 250px;
	color: white;
	justify-content: center;
	align-items: center;

}

/* MEDIA QUERIES FOR DEVICES */

@media (min-width: 400px) {

#submit {
	margin-left: 100px;

}

.header-flex-child:nth-child(4) a {
 
    margin-left: 255px;

}

}


@media (min-width: 450px) {
#submit {
	margin-left: 130px;

}

.header-flex-child:nth-child(4) a {
 
    margin-left: 280px;

}



}

@media (min-width: 500px) {
#submit {
	margin-left: 150px;
	

}

.header-flex-child:nth-child(4) a {
 
    margin-left: 310px;
 

}

@media (min-width: 550px) {
#submit {
	margin-left: 175px;
	

}

.header-flex-child:nth-child(4) a {
 
    margin-left: 330px;
 

}



}

@media (min-width: 600px) {
#submit {
	margin-left: 200px;

}

.header-flex-child:nth-child(4) a {
 
    margin-left: 360px;
 

}



}

@media (min-width: 650px) {
#submit {
	margin-left: 230px;
}

.header-flex-child:nth-child(4) a {
    margin-left: 390px;

}



}

@media (min-width: 700px) {
#submit {
	margin-left: 250px;
	

}

.header-flex-child:nth-child(4) a {
 
    margin-left: 410px;
 

}



}

@media (min-width: 750px) {
#submit {
	margin-left: 280px;
}

.header-flex-child:nth-child(4) a {
    margin-left: 440px;
}



}

@media (min-width: 800px) {

.header-flex-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.header-flex-child {
    flex-grow: 1;
	margin: 30px;
      justify-content: center;
      align-items: center;
    flex-direction: row;
    display: flex;
    padding-left: ;

}

.header-flex-child:first-child {
	
	justify-content: center;
	align-items: center;
      
    color: white;
    margin: -10px;
    padding: 30px;
    margin-left: -4px;
  
      

    
}

.brand-text {
        font-family: var(--ff-rock);
      text-align: center;
      font-size: 2.8rem;
      width: max-content;
      color: var(--clr-primaryBR);
      margin-top: ;
}

.headline-img {
      width: max-content;
      margin-top: 17px;
}


.header-flex-child:nth-child(2) {
      display: flex;
      margin: 40px;
      margin-left: -3px;
      border-radius: 5px;
      padding:  7px 30px;
      padding-left: 20px;
      background-color: whitesmoke;
       background-image: url('./img/srchicon.png');
      background-size: 40px;
      background-repeat: no-repeat;
      background-position: left 5px center;
    


}





.search-input {
     width:max-content;
      font-size: 15px;
      /*margin-top: 23px;*/
      border-radius: 3px;
      margin-left: 30px;
}


.header-flex-child:nth-child(3) {

      border-radius: 3px;
      width: 100%;
      display: flex;
      justify-content: center;
	align-items: center;
	margin: 40px;
	
      

}

#submit {
	margin-left: -55px ;
    background-color: #A8A9AD;
    padding: 14px 40px;
	/*padding: 17px 70px;*/
    font-family: var(--ff-rockthree);
    font-weight: var(--fw-bold);
    font-size: 15px;
}


.header-flex-child:nth-child(4) {
      flex-direction: row;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      margin-left: -55px;
      margin-bottom: 25px;
      padding: 10px;

      
}

.header-flex-child:nth-child(4) a {
    margin-left: -0.5px ;

}

.header-flex-child:nth-child(4) img {
	display: flex;
}

/* NAVIGATION */
.topNav {
	flex-direction: row;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid red;
    color: white;
    padding: 0;
    margin-top: -22px;
    width: 100%;
    gap: -2.5rem;
}

.topNav a { 
	
	list-style: none;
	background: none;
	padding-right: 40px ;
	border: none;
	margin: ;
	width: 100% ;
	justify-content: space-between;
	text-align: center;
} 


}








