/*RocknRoll, cursive

colors:

Primary:

Primary: #8A0303, rgb(138, 3, 3)
Secondary: #560505, rgb(86, 5, 5)
Tertiary: #3c0606, rgb(60, 6, 6)
Light Grey: #c7c7c7, rgb(199, 99, 199)
Medium Grey: #818181, rgb(129, 129, 129)


*/




/* display under 400 px wide */

@font-face {

	font-family: 'ghastlypanic';
	src: url('./assets/fonts/Ghastly Panic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;	
}

@font-face {
    font-family: 'bptypewrite';
    src: url('./assets/fonts/bptypewrite/BPtypewrite.otf');
    font-weight: var(--fs-600);
    font-style: normal;
}

@font-face {
    font-family: 'hardcore';
    src: url('./assets/fonts/frakturika/FRAKS___.ttf');
    font-weight: var(--fs-600);
    font-style: normal;
}

:root {
    --ff-sans: 'Poppins', sans-serif;
    --fw-light: 200;
    --fw-normal: 400;
    --fw-bold: 600;

    --ff-rock: "Instrument Serif", serif;
    --ff-rocktwo: "RocknRoll One", sans-serif;
    --ff-rockthree: "Oswald", sans-serif;
    --ff-rockfour: "Herold";
    --fs-400: 0.927rem;
    --fs-500: 1.25rem;
    --fs-600: 1.625rem;
    --fs-900: 2.5rem;
    --fs-1000: 4rem;
    --fs-1200: 6rem;

    
    --clr-primaryBlack: hsl(150, 100%, 0%);
    --clr-primary: #8B0000;
    --clr-font: #fbf0d9;
    --clr-secondary: linear-gradient(1800deg, var(--clr-primary), black, #8F8F9D);
    --clr-tertiary: rgb(60, 6, 6);
    --clr-LG: rgb(199, 199, 199);
    --clr-MG: #818181; 
   
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: 1px solid var(--clr-LG);
   /*background-image: linear-gradient( var(--clr-primary),black, var(--clr-primary), black );*/
    background-image: url(./assets/img/sitebg3.png);
    background-size: cover;
    background-attachment: fixed;
    max-width: 1000px;
    background-repeat: no-repeat;
    margin: 0 auto;
    line-height: inherit;
    
}

.body-bg {
    background-image: linear-gradient( var(--clr-primary),black, var(--clr-primary), black );
}

/* HEADER */
.header-flex-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-image: url(./assets/img/sitebgheader.png);
    /*background-image:linear-gradient( black, var(--clr-primary));*/
}

.header-flex-child {
    flex-grow: 1;
      justify-content: center;
      align-items: center;
    flex-direction: row; /* keep this row for all resolutions */
    display: flex;

}

.header-flex-child:first-child {
	
	justify-content: center;
	align-items: center;
    color: white;
      

    
}

.logo {
    padding: 15px;
}

.logo img {
    margin-left: -18px;
    width: 100vw;
}

/*.brand-text {
        font-family: ghastlypanic;
      text-align: center;
      font-size: var(--fs-1200);
      width: max-content;
      background-image: linear-gradient(var(--clr-LG), black);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
      margin-top: 1rem;
}

.headline-img {
    font-family: bptypewrite;
	color: var(--clr-LG);
      width: max-content;
      margin-top: 4rem;
      margin-left: -0.5rem;
}*/

#pagehl {
    font-size:8.5rem;
}

#pagehlimg {
    margin-top: 4rem;
}




.header-flex-child:nth-child(2) {
flex-direction: row;
    margin-top: -1rem;
	height: 5vh;
      display: flex;
      border-radius: 5px;
      padding: 1.5rem;
      border: 2px solid var(--clr-font);
      background-color: var(--clr-tertiary);
      opacity: 0.8;
      background-image: linear-gradient(var(--clr-tertiary), black);
      background-image:url('./assets/img/srchicon.png');
      background-size: 40px;
      background-repeat: no-repeat;
      background-position: left 12px center;


}




.search-input {
    height: 35px;
	cursor: pointer;
     width: 100%;
      font-size: var(--fs-400);
      margin-left: 2.5em;
      background-image: url('./assets/img/srchinputbg.png');
      background-position: left;
      

}

.search-input:focus {
	cursor: pointer;
	outline: none;
	box-shadow: 2px 2px 3px var(--clr-primaryBlack);


}
.header-flex-child:nth-child(3) {
    border: 2px solid var(--clr-LG);
      flex-direction: row;
      border-radius: 3px;
      width: 100%;
      display: flex;
      justify-content: center;
        align-items: center;
        /*border: 1px solid var(--clr-LG);*/

}
#submit {
    margin-left: 6rem;
    background-color: var(--clr-primary);
        width: 10vw;
    padding: 1em 4em;
        /*padding: 17px 70px;*/
    font-family: bptypewrite;
    font-weight: var(--fw-bold);
    font-size: var(--fs-400);
    color: var(--clr-font);
}
.header-flex-child:nth-child(4) {
      flex-direction: row;
      display: flex;
      justify-content: center;
      align-items: center;
      

      
}

.header-flex-child:nth-child(4) a {
    margin-left: 8rem;
      margin-top: -5.5rem;
    /*margin-top: -117px;*/
    /*margin-left: 250px;*/
    object-fit: cover;

}

.header-flex-child:nth-child(4) img {
	display: flex;
	max-width: 60px;
	height: auto;
}

/*PROJECTS CONTAINER*/
.projects_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.hlborder {
    background-image: linear-gradient( black, var(--clr-primary));
    border: 1px solid white;
    padding: 1rem;
}

.projects_headline {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.projects_headline h1 {
    margin-top: 1rem;
    height: 100%;
    font-family: hardcore;
    color: var(--clr-font);
    font-size: var(--fs-1200);
}

/*.turner-btn {
    flex-direction: column;
    font-family: bptypewrite;
    font-size: var(--fs-400);
    color: white;
    height: 50px;
    margin-left: 30px;
    margin-top: 10px;

}*/

/*.turner-btn a {
    background-image: linear-gradient(1800deg, black, whitesmoke, navy);
    border: 5px solid var(--clr-LG);
    border-radius: 20px;
    color: var(--clr-primaryBlack);
    text-decoration: none;
    display: inline-block;
    padding: 6px 10px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: border-color 0.5s ease-in-out, background-color 0.5s ease-in-out; 
  }*/

.turner-btn a:hover {
    color: var(--clr-primaryBlack);
        text-shadow: 7px -7px 15px;
        box-shadow: 0 0 10(--clr-primary);
        box-shadow: 0 0 10px var(--clr-LG);
}    



/*FAKE BACKDROP DESIGN*/

/*PROJECTS*/
.pagesSection {
    display:flex;
    background-image: linear-gradient(1800deg, var(--clr-tertiary), black, var(--clr-tertiary));
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    background-size: cover;
    padding: 3rem;
}



.page-content-border {
    display: inline-block;
    border: 1px solid #fbf0d9;
    padding: 0.5rem;

}
.page-content {
    display: flex;
    overflow: auto;
    border: 3px solid white;
    flex-direction: column;
    background-color: black;
    background-position: right;
    background-repeat: no-repeat;
    opacity: 0.8;
    

}

.section-brief {
    z-index: 2;
    background-color: var(--clr-tertiary);
    margin-top: -5rem;
    height: 40vh;
    display: flex;
    flex-direction: column;

}

.section-shadow {
    background-color: var(--clr-primaryBlack);
    margin-right: -1rem;
    margin-left: 1rem;
    margin-top: -250px;
    z-index: 1;
    border: 1px solid white;
    height: 40vh;
}

.section-shadow {
        margin-top: -11rem;
    }

.codelink {
    display: flex;
    margin-top: 195px;
    padding: 10px;
    height: 50px;
    justify-content: right;
    align-items: right;
}

.codelink a {
    text-decoration: none;
    font-family: bptypewrite;
    color: var(--clr-font);
}

.section-brief h1 {
        padding: 5px;
        font-family: bptypewrite;
        color: var(--clr-font);
    }

.section-brief p {
        padding: 5px;
        font-family: bptypewrite;
        color: var(--clr-font);
    }

/*.section-brief {
    display: flex;
    flex-direction: row;
    
}*/

/*.section-brief h1 {
    width: 50%;
    padding: 10px;
    font-family: bptypewrite;
    color: var(--clr-font);
}

.section-brief  p {
    border: 1px solid yellow;
    width: 50%;
    color: var(--clr-font);
    font-family: bptypewrite;
    height: auto;
}

.section-brief a {
    width: 50%;
    padding: 10px;
    margin-left: 450px;
      height: 300px;
    margin-top: -180px;
    padding: 10px;
}



.section-brief img {
    border: 1px solid yellow;
    width: 410px;
    height: 280px;
    
}

/*.codespace {
    margin-left: 450px;
    border: 1px solid red;
    display: flex;
    height: 100%;
}
.codesnip {
    display: flex;
    flex-direction: row;
    border: 1px solid yellow;
    width: 50%;
    height: 100%;


}*/

/*CONTACT*/
.cursor 
    { 
        animation: blink 1s infinite; 
        @keyframes blink { 50% { opacity: 0; } }
        color: clr(--clr-font);

}


.page-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.split {
    font-family: hardcore ;
    padding: 1rem;
    color: #fbf0d9;
    font-size: 50px;

}

.page-content h3 {
    padding: 2rem;
    font-family: bptypewrite;
    color: white;
}

/*.page-content h2 {
    font-family: bptypewrite;
    color: white;
    padding: 2rem;

}*/

.page-content p {
    margin-top: 1rem; 
    height: 10vh;
    padding: 1rem 2rem;
    color: white;
    flex-direction: row;
    font-family: bptypewrite;
}

.page-content form {
    background-image: linear-gradient(1600deg, var(--clr-primaryBlack), red);
    display: flex;
    flex-direction: column;
    font-family: bptypewrite;
    font-size: 20px;
    color: white;
    width: auto;
    padding: 1rem 2rem;
}

.page-content label {
    margin-top: 12px;
}

#name {
    margin-top: 12px;
    width: auto;
}

#email {
    margin-top: 12px;
    width: auto;
}

.msgtxtarea {
    margin-top: 12px;
    height: 50px;
    width: auto;
}

.page-content button {
    border-radius: 0.3rem;
    border: 6px solid var(--clr-LG);
    margin-top: 20px;
    width: 10rem;
    background-color: var(--clr-tertiary);
    padding: 1rem;
        /*padding: 17px 70px;*/
    font-family: bptypewrite;
    font-weight: var(--fw-bold);
    font-size: var(--fs-400);
    color: var(--clr-LG);
}

/* README */
.rmpage-content {
       display: flex;
    overflow: auto;
    border: 3px solid white;
    flex-direction: column;
    background-color: black;
    background-position: right;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.rmcontent p {
    font-family: bptypewrite;
    padding: 3rem;
    color: var(--clr-font);
    font-size: var(--fs-500);

}








/* NAVIGATION */
.topNav {
    background-image: linear-gradient(1800deg, black, whitesmoke,#8F8F9D);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}

.topNav a { 
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--clr-LG);
	background: linear-gradient(1800deg, black, whitesmoke, #8F8F9D); 
    list-style: none;
    color: var(--clr-primaryBlack);
    text-decoration: none;
    padding: 1em;
    display: block;
    font-family: bptypewrite;
    font-weight: var(--fw-bold);


} 



/* FOOTER */
.footer {
    padding: 2rem;
    background: var(--clr-tertiary);

}

.footerSection {
    flex-direction: column;
    border: white;
    height: 300px;
}

.footerSection p {
    text-align: center;
    padding: 20px;
    color: var(--clr-MG);
    font-family: bptypewrite;
    font-size: var(--fs-400);

}


/* MEDIA QUERIES FOR DEVICES */
@media (min-width: 375px) and (max-width: 391px) {
    .header-flex-child:nth-child(4) {
    }
    /*.page-content p {
        border: 1px solid red;
        font-size: 15px;
    }*/
    .rmpage-content {
        height: 30rem;
    }

    .section-brief img {
        display: none;
    }

    



   
}

@media (min-width: 375px) and (max-width: 661px) {
     .page-content p {
        font-size: 13px;
    }

    .section-brief {
        height: 18rem;
    }

     .section-brief img {
        display: none;
    }

    .section-shadow {
        height: 15rem;
    }

    /*.page-content label {
        border: 1px solid yellow;
        padding-left: 2px;
    }*/
}
@media (min-width: 400px) and (max-width: 413px) {
    #submit {
        margin-left: 6.5rem;
    }
    .home_button {
        margin-left: 17rem;
    }

.logo {
    border: 1px solid white;
    
}

.logo img {
    justify-content: center;
    align-items: center;
    width: 400px;
}
}

@media (min-width: 414px) and (max-width: 430px) {
    #submit {
        margin-left: 6.5rem;
    }
    .home_button {
        margin-left: 17rem;
    }
    #homeButton {
        margin-left: 17rem;
    }
}

@media (min-width: 520px) {
    .home_button {
        margin-left: 23rem;
    }
    #homeButton {
        margin-left: 23rem;
    }
}

@media (min-width: 600px) {
    #submit {
        margin-left: 12rem;
    }
    .home_button {
        margin-left: 28rem;
    }
    #homeButton {
        margin-left: 28rem;
    }

    .section-brief {
        height: 10rem;
    }

    .section-shadow {
        height: 11rem;
        margin-top: -6rem;
    }

    .codelink a {
        margin-top: -70px;
    }
}

@media (min-width: 767px) and (max-width: 768px) {
    #submit {
        margin-left: 17.5rem;
    }
    .home_button {
        margin-left: 38rem;
    }
     #homeButton {
        margin-left: 37rem;
    }

    .section-brief img {
        display: none;
    }
} 

@media (min-width: 800px) {
    .hamburger {
            display: none;
        }
        .header-flex-container {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .header-flex-child {
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        flex-direction: row; /* keep this row for all resolutions */
        display: flex;

    }

    .header-flex-child:first-child {
        
        justify-content: center;
        align-items: center;
        color: white;
        

        
    }

    .logo {
        height: 100%;
        display: flex;
        flex-direction: row;
}

    .logo img { 

        width: 22rem;
        margin-top: 1rem;
}

    /*.brand-text {
        margin-top: 0.5rem;
        margin-left: 2rem;
    }

    .headline-img {
        color: var(--clr-LG);
        width: max-content;
        margin-top: 3rem;
        margin-left: -0.5rem;
    }*/

    .header-flex-child:nth-child(2) {
    flex-direction: row;
    margin-left: -2.4rem;
        margin-top:1.5rem;
        padding: 1.8rem;
        background-position: left 5px center;
    }

    .search-input {
        height: 35px;
        cursor: pointer;
        width: auto;
        font-size: var(--fs-400);
        margin-left:1.7rem;
        padding-right: 1rem;
        background-image: url('./assets/img/srchinputbg.png');
        box-shadow: 2px 2px;
        

    }

    .search-input:focus {
        cursor: pointer;
        outline: none;
        box-shadow: 2px 2px 3px var(--clr-primaryBlack);


    }

    .header-flex-child:nth-child(3) {
        border: 3px solid var(--clr-LG);
        flex-direction: row;
        border-radius: 3px;
        width: 100%;
        display: flex;
        justify-content: center;
            align-items: center;
            /*border: 1px solid var(--clr-LG);*/

    }
    #submit {
        margin-left: -1rem;
        margin-top: 1.5rem;
        height: 5px;
        padding: 1.9em 1.8em;
        width: auto;
            /*padding: 17px 70px;*/
        font-weight: var(--fw-bold);
        font-size: var(--fs-400);
        color: var(--clr-font);
    }
    #submit:hover {
        color: var(--clr-LG);
        background-image: linear-gradient(1800deg, var(--clr-primary), black, var(--clr-font));
        border: 3px solid var(--clr-LG);
        text-shadow: 7px -7px 15px;
        box-shadow: 0 0 15px (--clr-primary);
        border-radius: 3px;
    }




    .header-flex-child:nth-child(4) {
        padding: 4rem;
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
        

        
    }

    .header-flex-child:nth-child(4) a {
        margin-bottom: -4rem;
        margin-left: -6rem;
        object-fit: cover;

    }

    .header-flex-child:nth-child(4) img {
        display: flex;
        max-width: 70px;
        height: auto;
    }


    .topNav {
        margin-top: -1rem;
        width: auto;
        display: flex;
        flex-direction: row;
        border-top: 1px solid white;
    }

    .topNav a {
        transition: background-color 0.5s ease-in-out, color 0.2s ease-in-out;
        transition: border-color 0.5s ease-in-out, background-color 0.5s ease-in-out;
        text-align: center;
        background: none;
        border: none;
        padding-right: 2.5rem;
        color: black;
    }

    .topNav a:hover {
        
        color: var(--clr-primaryBlack);
        text-shadow: 7px -7px 15px;
        box-shadow: 0 0 10(--clr-primary);
        box-shadow: 0 0 10px var(--clr-LG);
        
    }

    .home_button {
        margin-left: 40rem;
    }

    #homeButton {
        margin-left: 40rem;
    }

    .page-content p {
    margin-top: 1rem; 
    font-family: bptypewrite;
    height: 10vh;
    padding: 1rem 2rem;
    color: white;
    font-size: 20px;
    }

    /* MAIN CONTAINER */
.front-page {
    display: flex;
    flex-direction: row;
    border: 1px solid yellow;
    width: 100%;
}
.fp_one {
    border: 1px solid white;
    flex-direction: row;
    display: flex;
    padding: 0.5rem;
    width: 75%;

}

.sub_fp_one {
    width: 100%;
    height: 100px;
    display: flex;
    border: 3px solid green;
    flex-direction: row;
    background-color: black;
    background-position: right;
    background-repeat: no-repeat;
    opacity: 0.8;
    

}

.fp_two {
    flex-direction: column;
     display: flex;
    padding: 0.5rem;
    border: 1px solid white;
    width: 50%;
}

.sub_fp_two {
    width: 100%;
    display: flex;
    overflow: auto;
    border: 3px solid yellow;
    flex-direction: column;
    background-color: black;
    background-position: right;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.fptwo_heading{
    border: 1px solid white;
    height: 70px;
}

.fptwo_content {
    border: 1px solid white;
    height: 270px;
}

.section-brief {
    height: 22rem;
}

.section-brief h1 {
    width: 50%;
    padding: 10px;
    font-family: bptypewrite;
    color: var(--clr-font);
}

.section-brief  p {
    padding: 10px;
    width: 50%;
    color: var(--clr-font);
    font-family: bptypewrite;
    font-size: var(--fs-500);
}

.section-brief a {
    width: 50%;
    padding: 10px;
    margin-left: 450px;
      height: 300px;
    margin-top: -180px;
    padding: 10px;
}



.section-brief img {
    border: 1px solid yellow;
    width: 410px;
    height: 280px;
    
}

.section-shadow {
    height: -30rem;
}


codelink a {
    margin-top: 20px;
}
}

@media (min-width: 992px) {

    .header-flex-child:nth-child(3) {
        border: 5px solid var(--clr-LG);
        flex-direction: row;
        border-radius: 3px;
        width: 100%;
        display: flex;
        justify-content: center;
            align-items: center;
            /*border: 1px solid var(--clr-LG);*/

    }
    #submit {
        margin-top: 2.2rem;
        margin-left: -1rem;
        height: 5px;
        padding: 1.9em 1.8em;
        width: auto;
            /*padding: 17px 70px;*/
        font-weight: var(--fw-bold);
        font-size: var(--fs-400);
        color: var(--clr-font);
    }

  .logo {
    padding: 10px;
    
    }

    .logo img {
    width: 32rem;
    }
    .header-flex-child {
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        flex-direction: row; /* keep this row for all resolutions */
        display: flex;

    }
     .header-flex-child:nth-child(2) {
    flex-direction: row;
    margin-left: -1.6rem;
        margin-top: 2.2rem;
        padding: 1.9rem;
        background-position: left 5px center;
    }

     .search-input {
        height: 35px;
        cursor: pointer;
        width: auto;
        font-size: var(--fs-400);
        margin-left:1.5rem;
        background-image: url('./assets/img/srchinputbg.png');
        box-shadow: 2px 2px;
        

    }


    
    .header-flex-child:nth-child(4) {
        padding: 4rem;
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
        

        
    }

    .header-flex-child:nth-child(4) a {
        margin-bottom: -5rem;
        margin-left: -5rem;
        object-fit: cover;

    }

    .header-flex-child:nth-child(4) img {
        display: flex;
        max-width: 70px;
        height: auto;
    }

    .section-brief {
        height: 17rem;
    }
}
